.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: $white;

    &._sticky {
        @media (min-width: 769px) {
            .header__logo {
                a {
                    width: 65px;
                }
                span {
                    font-size: 12px;
                }
            }

            .header__search {
                align-self: center;
            }
        }
    }

    // .header__container

    &__container {
    }

    // .header__body

    &__body {
    }

    // .header__top

    &__top {
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;

        * {
            color: $black;
        }

        ol {
            display: flex;
            gap: 50px;

            @media (max-width: 1200px) {
                display: none;
            }

            li {
                display: flex;
                flex-direction: column;

                label {
                    font-weight: 500;
                }

                a,
                span {
                }
            }
        }
    }

    // .header__logo

    &__logo {
        display: flex;
        align-items: center;
        @include adaptive-value("gap", 30, 10, 1);

        a {
            width: 117px;
            @include adaptive-value("width", 117, 60, 1);

            transition: width 0.3s ease 0s;
        }

        span {
            color: $black;
            @include adaptive-value("font-size", 17, 10, 1);
            font-weight: 500;
            text-transform: uppercase;

            transition: font-size 0.3s ease 0s;
        }
    }

    // .header__search

    &__search {
        width: 24px;
        height: 24px;

        img,
        svg {
            pointer-events: none;
        }
    }

    // .header__bottom

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;

        position: relative;

        @media (max-width: 1200px) {
            display: none;
        }

        &:after {
            position: absolute;
            content: "";
            left: 50%;
            transform: translate(-50%, 0);
            top: 0;
            width: 100vw;
            height: 100%;
            pointer-events: none;
            background-color: $light-blue;
            z-index: -1;
        }

        nav {
            width: 100%;

            ul {
                width: 100%;
                flex: 0 0 auto;

                li {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;

                    a {
                        color: $white;
                        font-size: 16px;
                        transition: opacity 0.3s ease 0s;
                        max-width: calc(100% - 40px);
                    }

                    @media (any-hover: hover) {
                        &:hover {
                            & > a {
                                opacity: 0.5;
                            }

                            & > button {
                                img,
                                svg {
                                    transform: rotate(-180deg);
                                }
                            }

                            & > ul {
                                overflow: visible;
                                opacity: 1;
                                pointer-events: all;
                                visibility: visible;
                            }
                        }
                    }

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 24px;
                        height: 24px;
                        flex: 0 0 auto;
                        position: relative;
                        z-index: 1;

                        img,
                        svg {
                            width: 14px;
                            height: 14px;
                            stroke: $white;
                            transition: transform 0.3s ease 0s;
                            pointer-events: none;
                            fill: #358cc6;
                        }
                    }

                    &[data-open] {
                        & > button {
                            img,
                            svg {
                                transform: rotate(-180deg);
                            }
                        }

                        & > ul {
                            overflow: visible;
                            opacity: 1;
                            pointer-events: all;
                            visibility: visible;
                        }
                    }
                }
            }

            & > ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                position: relative;

                & > :last-child {
                    grid-column-start: 2;
                }

                li {
                    padding: 0 30px;
                }

                & > li {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    position: relative;

                    a {
                        white-space: nowrap;
                        display: flex;
                        align-self: center;
                    }

                    &:nth-child(n + 4) {
                        ul {
                            left: unset !important;
                            right: 0;

                            ul {
                                left: unset !important;
                                right: 100%;
                            }
                        }
                    }

                    ul {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        min-width: 300px;
                        max-width: 420px;
                        background-color: $light-blue;

                        pointer-events: none;
                        overflow: hidden;
                        z-index: 2;
                        visibility: hidden;
                        padding: 30px 0;

                        & > :not(:last-child) {
                            margin-bottom: 15px;
                        }

                        ul {
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            z-index: 2;
                            left: 100%;
                            top: 0;

                            &:after {
                                position: absolute;
                                content: "";
                                left: -5px;
                                top: 0;
                                height: 100%;
                                width: 10px;
                                z-index: 2;
                            }

                            & > li {
                                display: flex;
                                justify-content: space-between;
                                width: 100%;
                                position: relative;

                                button {
                                    svg {
                                        margin-left: auto;
                                        transform: rotate(-90deg) !important;
                                    }
                                }

                                a {
                                    white-space: wrap;
                                }

                                & > ul {
                                    position: absolute;
                                    top: -15px;
                                    left: calc(100% + 20px);
                                    width: 300px;
                                    background-color: $light-blue;

                                    pointer-events: none;
                                    height: 0;
                                    overflow: hidden;
                                    z-index: 2;
                                    grid-column: span 2;

                                    & > ul {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 10px;
                                        padding: 15px;

                                        li {
                                            a {
                                                white-space: wrap;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // .header__burger

    &__burger {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        position: relative;
        flex: 0 0 auto;

        @media (min-width: 1201px) {
            display: none;
        }

        span {
            background-color: $black;
            height: 2px;
            width: 100%;
            border-radius: 2px;
        }

        &._active {
            span {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                transition: all 0.3s ease 0s;
            }

            & > :first-child {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            & > :nth-child(2) {
                opacity: 0;
            }

            & > :last-child {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}
