.menu {
    position: fixed;
    width: 100%;
    background-color: $white;
    @include adaptive-value("top", 110, 70, 1);
    height: calc(100% - 60px);
    padding: 10px 0 45px 0;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;

    &._open {
        @media (max-width: 1200px) {
            opacity: 1;
            pointer-events: all;
            z-index: 20;
        }
    }

    .search-form {
        margin-bottom: 30px;
    }

    nav {
        width: 100%;
        margin-bottom: 60px;

        ul {
            display: flex;
            flex-direction: column;

            li {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                align-items: center;

                a {
                    color: $black;
                    font-size: 15px;
                    font-weight: 500;
                    transition: opacity 0.3s ease 0s;
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 24px;
                    height: 24px;
                    flex: 0 0 auto;
                    position: relative;
                    z-index: 1;

                    img,
                    svg {
                        width: 14px;
                        height: 14px;
                        stroke: currentColor;
                        fill: $white;
                        transition: transform 0.3s ease 0s;
                        pointer-events: none;
                        margin-left: auto;
                    }
                }

                &[data-open] {
                    & > button {
                        img,
                        svg {
                            transform: rotate(-180deg);
                            stroke: $blue;
                        }
                    }

                    & > a {
                        color: $blue;
                    }

                    & > ul {
                        opacity: 1;
                        pointer-events: all;
                        display: flex;
                    }
                }
            }
        }

        & > ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            ul {
                padding-left: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            & > li {
                padding: 10px 0;
                border-bottom: 1px solid rgba($color: $black, $alpha: 0.3);

                a {
                    white-space: nowrap;
                    display: flex;
                    align-self: center;
                    width: calc(100% - 35px);
                }

                ul {
                    z-index: 2;
                    width: 100%;
                    display: none;

                    & > :not(:last-child) {
                        margin-bottom: 10px;
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        display: none;

                        & > li {
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            width: 100%;
                            position: relative;

                            button {
                                svg {
                                    margin-left: auto;
                                }
                            }

                            a {
                                white-space: wrap;
                            }
                        }
                    }
                }
            }
        }
    }

    ol {
        display: flex;
        flex-direction: column;
        gap: 30px;

        li {
            display: flex;
            flex-direction: column;

            label {
                font-weight: 500;
                margin-bottom: 10px;
            }

            a,
            span {
            }
        }
    }
}

body:has(.header._sticky) .menu {
    @media (min-width: 769px) {
        @include adaptive-value("top", 70, 70, 1);
    }
}
