.menu {
    position: fixed;
    width: 100%;
    background-color: $white;
    @include adaptive-value("top", 110, 70, 1);
    height: calc(100% - 60px);
    padding: 10px 0 45px 0;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;

    &._open {
        @media (max-width: 1200px) {
            opacity: 1;
            pointer-events: all;
            z-index: 20;
        }
    }

    .search-form {
        margin-bottom: 30px;
    }

    nav {
        width: 100%;
        margin-bottom: 60px;

        ul {
            li {
                a {
                    color: $black;
                    font-size: 15px;
                    font-weight: 500;
                    text-transform: uppercase;
                    transition: opacity 0.3s ease 0s;
                }

                @media (any-hover: hover) {
                    &:hover {
                        & > a {
                            opacity: 0.5;
                        }

                        button {
                            img,
                            svg {
                                transform: rotate(180deg);
                            }
                        }

                        .div {
                            pointer-events: all;
                        }
                    }
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 24px;
                    height: 24px;
                    flex: 0 0 auto;
                    position: relative;
                    z-index: 1;

                    img,
                    svg {
                        width: 14px;
                        height: 14px;
                        stroke: currentColor;
                        fill: $white;
                        transition: transform 0.3s ease 0s;
                        pointer-events: none;
                        margin-left: auto;
                    }
                }
            }
        }

        & > ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            & > li {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                padding: 10px 0;

                border-bottom: 1px solid $black;

                a {
                    white-space: nowrap;
                    display: flex;
                    align-self: center;
                    width: calc(100% - 35px);
                }

                &[data-open] {
                    button {
                        img,
                        svg {
                            transform: rotate(-180deg);
                        }
                    }

                    div {
                        overflow: visible;
                        opacity: 1;
                        pointer-events: all;
                        visibility: visible;
                        max-height: fit-content;
                        height: auto;
                    }
                }

                & > div {
                    height: auto;
                    pointer-events: none;
                    height: 0;
                    overflow: hidden;
                    z-index: 2;
                    width: 100%;

                    & > ul {
                        display: flex;
                        flex-direction: column;
                        padding: 15px 0 0px 15px;

                        & > li {
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            width: 100%;
                            position: relative;
                            padding: 10px 0;

                            button {
                                svg {
                                    margin-left: auto;
                                }
                            }

                            a {
                                white-space: wrap;
                            }

                            & > div {
                                pointer-events: none;
                                height: 0;
                                overflow: hidden;
                                z-index: 2;
                                width: 100%;

                                & > ul {
                                    display: flex;
                                    flex-direction: column;

                                    li {
                                        padding: 10px 0 10px 15px;

                                        a {
                                            white-space: wrap;
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    ol {
        display: flex;
        flex-direction: column;
        gap: 30px;

        li {
            display: flex;
            flex-direction: column;

            label {
                font-weight: 500;
                margin-bottom: 10px;
            }

            a,
            span {
            }
        }
    }
}
