.section,
section {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;

    @media (max-width: 1024px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &._pt-0 {
        padding-top: 0 !important;
    }

    &._mt-0 {
        margin-top: 0 !important;
    }

    .section__bgi {
        position: absolute;
        left: 0;
        top: 0;
        width: 1000%;
        height: 100%;
        pointer-events: none;
        z-index: -1;

        img,
        picture {
            height: 100%;
        }
    }

    // .section__container

    &__container {
    }

    // .section__body

    &__body {
    }

    // .section__flex

    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: 1024px) {
            flex-direction: column;
        }

        ul:has(li),
        ol:has(li) {
            padding-left: 1.5em;
        }

        ol li {
            list-style: initial;
        }

        ul li {
            list-style: numeric;
        }

        ol {
            display: flex;
            flex-direction: column;
            gap: 5px;

            li {
                color: $black;
                font-size: 20px;

                @media (max-width: 1024px) {
                    font-size: 14px;
                    gap: 5;
                }
            }
        }

        //.section__flex-right

        &-right {
            @media (min-width: 1025px) {
                width: 70.7%;
                height: 356px;
            }

            img,
            picture {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }

    // .section__tabs

    &__tabs {
    }
}

.consultations {
    background-color: #ecf0f4;

    .navigation {
        margin-top: 30px;
    }
}

.about {
    .grid {
        @media (max-width: 1200px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        & > :first-child {
            background-color: $light-blue;
            * {
                color: $white;
            }
        }

        .h2,
        h2 {
            margin-bottom: 0 !important;
        }

        & > :nth-child(3) {
            background-color: #ecf5ff;

            @media (min-width: 1025px) {
                grid-column: span 2;
            }

            @media (max-width: 768px) {
                grid-column: span 2;
            }
        }

        & > :nth-child(4) {
            background-color: #cfe4f1;
        }

        & > :nth-child(5) {
            background-color: #ecf5ff;
        }
    }
}

.video {
    .navigation {
        margin-top: 30px;
    }
}

.contacts {
    background-color: $light-blue;

    * {
        color: $white;
    }

    // .contacts__content

    &__content {
        label {
            font-weight: 500;
        }

        @media (min-width: 769px) {
            width: 315px;
        }
    }

    // .contacts__map

    &__map {
        flex: 1 1 auto;
        height: 450px;

        div,
        iframe {
            width: 100%;
            height: 100%;
        }
    }

    a {
        @media (any-hover: hover) {
            &:hover {
                color: $blue;
            }
        }
    }
}

.gallery {
    .swiper {
        overflow: visible;
    }

    .swiper-slide {
        width: 66.17%;
        height: 470px;

        @media (max-width: 1024px) {
            width: 100%;
            height: 300px;
        }
    }

    .section__body {
        position: relative;
    }

    @media (min-width: 1025px) {
        .prev,
        .next {
            position: absolute;
            top: 50%;
            z-index: 1;

            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #ecf0f4;

            display: flex;
            align-items: center;
            justify-content: center;

            img,
            svg {
                width: 18px;
                height: 8px;
                flex: 0 0 auto;
            }
        }

        .prev {
            @include adaptive-value("left", 165, 0, 1);
        }

        .next {
            @include adaptive-value("right", 165, 0, 1);
        }
    }

    .navigation {
        margin-top: 30px;
    }
}

.doctors {
    background-color: #ecf0f4;

    .section__body {
        padding: 60px 0;
        overflow: hidden;

        @media (max-width: 1024px) {
            padding: 30px 0;
        }
    }

    .section__flex {
    }
}

.blue-contacts {
    padding-bottom: 60px;
    background-color: $light-blue;
    margin-top: 60px;

    @media (max-width: 1024px) {
        padding-bottom: 30px;
        margin-top: 40px;
    }

    * {
        color: $white;
    }

    p {
        @include adaptive-value("font-size", 20, 16, 1);
        font-weight: 400;
    }
}

.info {
    padding-bottom: 30px;

    .section__flex {
        padding: 30px 0;
        &:not(:last-child) {
            border-bottom: 1px solid #cfe4f1;
        }
    }

    .section__flex-left {
        flex-direction: column;
        justify-content: center;
        padding: 0 !important;
        flex: 1 1 auto;

        @media (min-width: 1025px) {
            width: 100%;
        }

        span {
            color: $black;
            @include adaptive-value("font-size", 32, 20, 1);
            font-weight: 500;
            text-transform: uppercase;
            font-style: normal;
        }

        p {
            @include adaptive-value("font-size", 20, 16, 1);
        }

        .h2 {
            margin-bottom: 10px;
        }
    }

    .section__flex-right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 423px;
        flex: 0 0 auto;
        width: 100%;

        div {
            display: flex;
            flex-direction: column;
            padding: 18px 20px;
            gap: 10px;
            border: 1px solid #cfe4f1;
            background-color: $white;

            img,
            picture {
                height: 273px;

                @media (max-width: 1024px) {
                    height: 150px;
                }
            }

            p {
                color: $black;
                font-size: 11px;
                font-style: italic;
            }
        }
    }
}

.history-info {
}

.history-doctors {
    .doctors-card {
        padding: 20px;

        &__image {
            aspect-ratio: 1/1.16;
        }

        &__descr {
            @include adaptive-value("font-size", 16, 16, 1);
        }
    }
}

.subdirection-box {
    .fullscreen-image {
        height: 530px;

        img,
        picture {
            height: 100%;
            object-fit: cover;
        }

        @media (max-width: 1024px) {
            height: 200px;
        }
    }
}

.error-404 {
    @include adaptive-value("padding-top", 180, 60, 1);
    @include adaptive-value("padding-bottom", 180, 60, 1);

    * {
        text-align: center;
    }

    .hero__content {
        max-width: none;
    }

    h1 {
        @include adaptive-value("font-size", 128, 60, 1);
        color: $light-blue;
        margin-bottom: 15px !important;

        span {
            color: #000;
            display: block;
            @include adaptive-value("font-size", 32, 20, 1);
            text-transform: uppercase;
            font-weight: 500;
            margin-top: 15px;
        }
    }

    p {
        font-weight: 500;
    }

    a {
        margin-inline: auto;
        margin-top: 30px;
    }
}

.pediatrician {
    background-color: #ecf0f4;
    padding-bottom: 60px;

    @media (max-width: 1024px) {
        padding-bottom: 40px;
    }

    .grid {
        @media (max-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.documents.text-box {
    a {
        color: $black;

        @media (any-hover: hover) {
            &:hover {
                color: $light-blue;
            }
        }
    }
}

.search {
    // .search-grid

    &-grid {
    }

    // .search-hero

    &-hero {
        form {
            display: flex;
            align-items: center;
            gap: 10px;
            height: 40px;
            width: 100%;
            max-width: 690px;
            position: relative;

            &:before {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                width: 75%;
                height: 1px;
                background-color: #ecf0f4;

                @media (max-width: 768px) {
                    width: 60%;
                }
            }

            svg {
                width: 20px;
                height: 20px;
                flex: 0 0 auto;
            }

            button {
                height: 40px;
            }

            input {
                flex: 1 1 auto;
            }
        }
    }

    // .search-page

    &-page {
        .pagination {
            margin-inline: auto;
            margin-top: 40px;
            width: fit-content;

            a {
                @media (any-hover: hover) {
                    &:hover {
                        color: $dark-blue;
                    }
                }
            }
        }
    }

    // .search-item

    &-item {
        &:not(:last-child) {
            margin-bottom: 30px;

            @media (max-width: 768px) {
                margin-bottom: 20px;
            }
        }

        a {
            @include adaptive-value("font-size", 24, 20, 1);
            font-weight: 500;
            text-transform: uppercase;
        }

        p {
            margin-top: 1em;
        }

        padding: 1em 0;
        border-bottom: 1px solid #ecf0f4;
    }
}
